registry=https://npm.slock.it
init.author.name = maltabba
init.author.email = muhammad.altabba@slock.it
# an email is required to publish npm packages
email=muhammad.altabba@slock.it
always-auth=true
_auth=XDubRoZxvBAZ6TPuTzAy